<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">ember-cli-holderjs Demo</div>
    </div>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
